# End-to-end testing

name: Docker Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10' 
        cache: 'pip'
        cache-dependency-path: 'requirements-dev.txt'
    - run: pip install -r requirements-dev.txt
    - name: Build and test Docker image
      run: python test_docker.py
