name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  # build-and-release:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v4

    # - name: Set up Go
    #   uses: actions/setup-go@v4
    #   with:
    #     go-version: '1.23'

    # - name: Build binary
    #   run: |
    #     mkdir -p release
    #     GOOS=linux GOARCH=amd64 go build -o release/beacon-${GITHUB_REF_NAME}-linux-amd64

    # - name: Create GitHub release
    #   uses: actions/create-release@v1
    #   with:
    #     tag_name: ${{ github.ref_name }}
    #     release_name: ${{ github.ref_name }}
    #     body: "Version: ${{ github.ref_name }}"
    #     draft: false
    #     prerelease: false
    #     token: ${{ secrets.GITHUB_TOKEN }}

    # - name: Upload release binary
    #   uses: actions/upload-release-asset@v2
    #   with:
    #     repo_token: ${{ secrets.GITHUB_TOKEN }}
    #     release_id: ${{ steps.create_release.outputs.id }}
    #     asset_path: ./release/*
    #     asset_name: ${{ basename }}
    #     asset_content_type: application/octet-stream

  docker-hub:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0   # get entire git history to identify Beacon version

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      env:
        BEACON_VERSION: ${{ github.ref_name }}
      with:
        push: true
        file: ./Dockerfile
        tags: |
          davidmasek42/beacon:latest
          davidmasek42/beacon:${{ github.ref_name }}
